%div.message_index= render :partial => "index", :locals => {:messages_inbox=>@messages_inbox,:messages_sent => @messages_sent, :messages_unread => @messages_unread }


:javascript
	$(function(){
		$(document).on('click',".private_message",function(){
			var url = $(this).attr('message_path');
			var check_new = $(this).attr('new');
			// console.log(url);
			if (typeof check_new !== 'undefined' && check_new !== false){
					$(".message_count").html("You have #{(@messages_unread >0)? (@messages_unread -1) : @messages_unread} unread message");
				};
			$("#show_sent_message").load(url,function(){
				var show_data = $("#show_sent_message").html();
				
				$.fancybox(show_data);
			});
		});
	});
