.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "#"} iLostUFound
      .nav-collapse.collapse
        %p.navbar-text.pull-right
          Logged in as
          %a.navbar-link{:href => "#"} Username
        %ul.nav
          %li{:class => (controller.controller_name.eql?('welcome'))? "active" : "welcome" }
            %a{:href => "/"} Home
          %li{:class => (controller.controller_name.eql?('lost_items'))? "active" : "lost_items" }
            %a{:href => "/lost_items"} Lost items
          %li{:class => (controller.controller_name.eql?('found_items'))? "active" : "found_items" }
            %a{:href => "/found_items"} Found items
          %li{:class => (controller.action_name.eql?('lost'))? "active" : "lost" }
            %a{:href => "/search/lost"} Search Lost Items
          %li{:class => (controller.action_name.eql?('found')? "active" : "found")}
            %a{:href => "/search/found"}Search Founds
          %li
            - if user_signed_in?
              =  link_to "Sign Out",destroy_user_session_path, :method => :delete
            - else
              %a{:href => "/users/sign_in"}Sign In
      / /.nav-collapse