- if !found_item.found
	%br/
	= link_to 'Edit', edit_user_found_item_path(found_item), :class => 'btn btn-success'
	\|
	= link_to 'Back', found_items_path, :class => 'btn btn-success'
	%br/
	%br/
	- if is_reporter_of_found_item?(found_item.id)
		%h5
			close report
		= check_box_tag :found,'0',false, :class => "navbar-form checkbox"
		%br/
- else
	%br/
	%b
		The report is closed 	