%h3 Reported Found Items
%em
- if user_signed_in?
	%b= link_to 'Report a Found item', new_user_found_item_path(current_user)
- else
	%b= link_to 'Report a Found item', user_session_path	
%br/
%br/
/ %table
/   %tr
/     %th Name
/     %th Address
/     %th Cell
/     %th Found item
/     %th Found location
/     %th Found date
/     %th Found item pic
/     %th Email
/     %th Additional contact
/     %th
/     %th
/     %th

/   - @found_items.each do |found_item|
/     %tr
/       %td= found_item.name
/       %td= found_item.address
/       %td= found_item.cell
/       %td= found_item.found_item
/       %td= found_item.found_location
/       %td= found_item.found_date
/       %td= found_item.found_item_pic
/       %td= found_item.email
/       %td= found_item.additional_contact
/       %td= link_to 'Show', found_item
/       %td= link_to 'Edit', edit_found_item_path(found_item)
/       %td= link_to 'Destroy', found_item, :method => :delete, :data => { :confirm => 'Are you sure?' }


= spaghetti 'found_items',found_items_path

