// Place all the styles related to the found_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.found_item{
	height:60px;
}
.found_item_pic{
	width:200px;
	height:auto;
	overflow:hidden;
}
