// Place all the styles related to the lost_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "bootstrap-responsive";
@font-face {
    font-family:'gotham_boldregular';src:font-path("gotham-bold-webfont.eot");src:font-path("gotham-bold-webfont.eot?#iefix") format("embedded-opentype"),font-path("gotham-bold-webfont.woff") format("woff"),font-path("gotham-bold-webfont.ttf") format("truetype"),font-path("gotham-bold-webfont.svg#gotham_boldregular") format("svg");font-weight:normal;font-style:normal
}

@font-face {
    font-family:'gotham_bookregular';src:font-path("gotham-book-webfont.eot");src:font-path("gotham-book-webfont.eot?#iefix") format("embedded-opentype"),font-path("gotham-book-webfont.woff") format("woff"),font-path("gotham-book-webfont.ttf") format("truetype"),font-path("gotham-book-webfont.svg#gotham_bookregular") format("svg");font-weight:normal;font-style:normal
}

@font-face {
    font-family:'gotham_extralightregular';src:font-path("gotham-extralight-webfont.eot");src:font-path("gotham-extralight-webfont.eot?#iefix") format("embedded-opentype"),font-path("gotham-extralight-webfont.woff") format("woff"),font-path("gotham-extralight-webfont.ttf") format("truetype"),font-path("gotham-extralight-webfont.svg#gotham_extralightregular") format("svg");font-weight:normal;font-style:normal
}

@font-face {
    font-family:'gotham_lightregular';src:font-path("gotham-light-webfont.eot");src:font-path("gotham-light-webfont.eot?#iefix") format("embedded-opentype"),font-path("gotham-light-webfont.woff") format("woff"),font-path("gotham-light-webfont.ttf") format("truetype"),font-path("gotham-light-webfont.svg#gotham_lightregular") format("svg");font-weight:normal;font-style:normal
}

@font-face {
    font-family:'gotham_mediumregular';src:font-path("gotham-medium-webfont.eot");src:font-path("gotham-medium-webfont.eot?#iefix") format("embedded-opentype"),font-path("gotham-medium-webfont.woff") format("woff"),font-path("gotham-medium-webfont.ttf") format("truetype"),font-path("gotham-medium-webfont.svg#gotham_mediumregular") format("svg");font-weight:normal;font-style:normal
}

/*@font-face {
    font-family:'sharediconfonts';src:font-path("sharediconfonts.eot");src:font-path("sharediconfonts.eot?#iefix") format("embedded-opentype"),font-path("sharediconfonts.woff") format("woff"),font-path("sharediconfonts.ttf") format("truetype"),font-path("sharediconfonts.svg#sharediconfonts") format("svg");font-weight:normal;font-style:normal
}*/
body {
  padding-top: 60px;
  padding-bottom: 40px;
  font-family: 'gotham_lightregular', Arial, Helvetica;
}

.sidebar-nav {
  padding: 9px 0;
}

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
  body {
    padding-top: 0;
  }
}

.lost_item{
  height:60px;
}
.lost_item_pic{
  width:200px;
  height:auto;
  overflow:hidden;
}
.comment_form_textarea{
  width:340px;
}

.comment {
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.comment, .comment h4 {
    color: #C09853;
}

