!!!
%html
  %head
    = render 'partial/head'

  %body
    .container
      = render 'partial/header'
      / Jumbotron
      .jumbotron
        = yield
      = render 'partial/footer'
    / /container


